<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- View Port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Rocket.Q - Perguntas e Respostas</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/room.css">
    <link rel="stylesheet" href="styles/modal.css">

    <!-- link para fontes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="room" class="content">
        <!-- Header com logo-->
        <header>
            <a href="#">
                <img src="images/logo.svg" alt="logo rocket.q" />
            </a>

            <div class="buttons">
                <div class="button outlined">
                    #323246

                    <img src="images/copy.svg" alt="Copiar numero da sala" />
                </div>

                <a href="#" class="button">
                    <img src="images/users-pass.svg" alt="Criar Sala" />
                    Criar Sala
                </a>
            </div>
        </header>

        <main>
            <section id="question-forms">
                <h2>Faça sua Pergunta</h2>
                <form action="">
                    <label class="sr-onLy" for-id="question">O que você quer perguntar?</label>
                    <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>
                    <footer>
                        <div>
                            <img src="images/lock.svg" alt="Imagem de cadeado">
                            Esta pergunta é anonima
                        </div>
                        <button>Enviar</button>
                    </footer>

                </form>
            </section>

            <section id="questions">
                <h2 class="sr-onLy">Perguntas da comunidade</h2>
                <div class="questions">

                    <!-- Questions -->

                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="images/user-only.svg" alt="Imagem do usuario">
                            </div>
                            <div class="question">
                                <p>Qual a diferença entre const, let e var no JS?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="checl">
                                <img src="images/check.svg" alt="Marcar como lida">
                                Marcar como lida
                            </a>
                            <a href="#" class="delete">
                                <img src="images/trash.svg" alt="Exluir">
                                Excluir
                            </a>
                        </div>
                    </div>

                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="images/user-only.svg" alt="Imagem do usuario">
                            </div>
                            <div class="question">
                                <p>O que é JavaScript?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="checl">
                                <img src="images/check.svg" alt="Marcar como lida">
                                Marcar como lida
                            </a>
                            <a href="#" class="delete">
                                <img src="images/trash.svg" alt="Exluir">
                                Excluir
                            </a>
                        </div>
                    </div>


                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="images/user-only.svg" alt="Imagem do usuario">
                            </div>
                            <div class="question">
                                <p>
                                    Você já sabe quais as bases que você precisa alcançar para o seu proximo nivel com
                                    maestria? Definiu o seu foco e maestria para seguir em frente? Estou curioso e
                                    embasbacado com a sua persistencia por ter alcançado a terceira aula e sei que vai
                                    continuar até o fim, então responde ai pra gente!
                                </p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="checl">
                                <img src="images/check.svg" alt="Marcar como lida">
                                Marcar como lida
                            </a>
                            <a href="#" class="delete">
                                <img src="images/trash.svg" alt="Exluir">
                                Excluir
                            </a>
                        </div>
                    </div>


                    <div class="question-wrapper read">
                        <div class="question-content">
                            <div class="user">
                                <img src="images/user-only.svg" alt="Imagem do usuario">
                            </div>
                            <div class="question">
                                <p>O que é Script?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="delete">
                                <img src="images/trash.svg" alt="Exluir">
                                Excluir
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>

    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Modal -->

    <div class="modal-wrapper">
        <div class="modal">
            <h2>Exluir Pergunta</h2>
            <p>Tem certeza que você deseja excluir essa pergunta?</p>

            <form action="#">
                <input type="password" name="password" id="password" placeholder="Digite sua senha">
                <label for="Digite sua senha" class="sr-onLy" for-id="password"></label>

                <div class="buttons">
                    <div class="button grey">Cancelar</div>
                    <button class="red">Sim, excluir</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>